@import "../../App.scss";

.header{
    background: rgb(249, 78, 48);
    background: linear-gradient(180deg, rgba(249 ,78, 48, 1)0%, rgba(255, 100 ,51, 1) 100%);

    .header-cnt-top{
        border-top: 1px solid lighten($color: orange, $amount: 10%);
    }

    @media screen and (max-width:992px){ 
        .header-cnt-top{
            flex-direction: column;
            .header-cnt-top-l{
                margin-bottom: 4px;
            }
        }
    }
}

.feature-item{
    position: relative;
    z-index: 999;
    .feature-item__content{
        // transition: all 0.3s ease-in-out;
        max-height: 0px;
        width: 15rem;
        opacity: 0;
        overflow: hidden;
        color: #374151;
        font-size: 1.1rem;
        line-height: 1.6;
        padding: 0 1rem;

        .feature-item__content-member{
            margin: 7px 1px;
            display: flex;
            align-items: center;

            span{
                padding: 5px;
                font-size: 15px;
            }

            &:hover{
                background-color: #fcece6;
                color: #F94E30;
                border: 1px solid #ff825c;
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
            }
        }
        
    }
}

.feature-item.feature__expanded .feature-item__content{
    position: absolute;
    top: 23px;
    left: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 1.5rem;
    opacity: 1;
    max-height: 100vh;
    transition: all 0.2s ease-in-out;
}