@import "../../App.scss";


.span-information{
    padding: 1px 8px;
    font-weight: 600;
}

.input-information{
    // position: relative;
    border: 1px solid #cccc;
    border-radius: 3px;
    padding: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    input{
        padding: 1px 5px;
        // background-color: #dd0909;
    }
}

.input-section{
    // background-color: #da0707;
    // border: 1px solid #cccc;
    border-bottom: none !important;
    border-radius: 3px;
    padding: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    outline: none;
    
}

.pwd-container{
    position: relative;
    width: 295px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.pwd-container input {
    padding: 4px 10px;
    font-size: 17px;
  }
  
.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
}